In [1]:
import os
import pandas as pd

In [4]:
# read in NOAA weather data from the Franklin Institute from 2006-2022
# low_memory=False to avoid mixed data type warning
df_PFI_2006_2007 = pd.read_csv("./data/rawdata/PFI 2006-2007.csv", low_memory=False)
df_PFI_2007_2010 = pd.read_csv("./data/rawdata/PFI 2007-2010.csv", low_memory=False)
df_PFI_2010_2013 = pd.read_csv("./data/rawdata/PFI 2010-2013.csv", low_memory=False)
df_PFI_2013_2016 = pd.read_csv("./data/rawdata/PFI 2013-2016.csv", low_memory=False)
df_PFI_2016_2019 = pd.read_csv("./data/rawdata/PFI 2016-2019.csv", low_memory=False)
df_PFI_2019_2023 = pd.read_csv("./data/rawdata/PFI 2019-2023.csv", low_memory=False)

In [5]:
# use df.info()
# look at names of variables and associated data type for most recent year.
df_PFI_2019_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292 entries, 0 to 1291
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  1292 non-null   object
 1   NAME     1292 non-null   object
 2   DATE     1292 non-null   object
 3   PRCP     957 non-null    float64
 4   TMAX     1285 non-null   float64
 5   TMIN     1287 non-null   float64
dtypes: float64(3), object(3)
memory usage: 60.7+ KB

In [6]:
df_PFI_2007_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  1096 non-null   object
 1   NAME     1096 non-null   object
 2   DATE     1096 non-null   object
 3   PRCP     1095 non-null   float64
 4   TMAX     1094 non-null   float64
 5   TMIN     1094 non-null   float64
dtypes: float64(3), object(3)
memory usage: 51.5+ KB

In [7]:
#df_PFI_2006_2007
#df_PFI_2007_2010
#df_PFI_2010_2013
#df_PFI_2013_2016
#df_PFI_2016_2019
#df_PFI_2019_2023

In [8]:
print(df_PFI_2006_2007.shape)
print(df_PFI_2007_2010.shape)
print(df_PFI_2010_2013.shape)
print(df_PFI_2013_2016.shape)
print(df_PFI_2016_2019.shape)
print(df_PFI_2019_2023.shape)

(366, 7)
(1096, 6)
(1097, 6)
(1095, 6)
(1053, 6)
(1292, 6)

In [9]:
#just to clarify what is different on the first dataframe
df_PFI_2006_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  366 non-null    object
 1   NAME     366 non-null    object
 2   DATE     366 non-null    object
 3   PRCP     365 non-null    float64
 4   TMAX     366 non-null    int64
 5   TMIN     366 non-null    int64
 6   TOBS     0 non-null      float64
dtypes: float64(2), int64(2), object(3)
memory usage: 20.1+ KB

In [10]:
#we can drop the tobs column as it is empty and likely an datatool export artifact
df_PFI_2006_2007 = df_PFI_2006_2007.drop(['TOBS'], axis=1)

In [11]:
#confirming column drop
df_PFI_2006_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  366 non-null    object
 1   NAME     366 non-null    object
 2   DATE     366 non-null    object
 3   PRCP     365 non-null    float64
 4   TMAX     366 non-null    int64
 5   TMIN     366 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 17.3+ KB

In [12]:
#confirming dataframe shapes align
print(df_PFI_2006_2007.shape)
print(df_PFI_2007_2010.shape)
print(df_PFI_2010_2013.shape)
print(df_PFI_2013_2016.shape)
print(df_PFI_2016_2019.shape)
print(df_PFI_2019_2023.shape)

(366, 6)
(1096, 6)
(1097, 6)
(1095, 6)
(1053, 6)
(1292, 6)

In [13]:
#checking for missing values
df_PFI_2006_2007.isna().sum()

STATION    0
NAME       0
DATE       0
PRCP       1
TMAX       0
TMIN       0
dtype: int64

In [14]:
#this is one station reporting, to keep things in relatively in context we are utilizing just the one, 
#but in further project refinement/expansion we could use other local stations
#lets check the other dataframes before stitching
df_PFI_2006_2007.isna().sum()

STATION    0
NAME       0
DATE       0
PRCP       1
TMAX       0
TMIN       0
dtype: int64

In [15]:
df_PFI_2007_2010.isna().sum()

STATION    0
NAME       0
DATE       0
PRCP       1
TMAX       2
TMIN       2
dtype: int64

In [16]:
df_PFI_2010_2013.isna().sum()

STATION     0
NAME        0
DATE        0
PRCP       10
TMAX        2
TMIN        2
dtype: int64

In [17]:
df_PFI_2013_2016.isna().sum()

STATION     0
NAME        0
DATE        0
PRCP        5
TMAX        2
TMIN       11
dtype: int64

In [18]:
df_PFI_2016_2019.isna().sum()

STATION     0
NAME        0
DATE        0
PRCP       48
TMAX       20
TMIN       16
dtype: int64

In [19]:
df_PFI_2019_2023.isna().sum()

STATION      0
NAME         0
DATE         0
PRCP       335
TMAX         7
TMIN         5
dtype: int64

In [20]:
# Precipitation (PRCP) seems to have significant NA values, 
#considering covid and the pattern of NAs one could assume that preciptitation measurements are collected manually
# Disregarding this
#time to stitch
#df_PFI_2006_2007
#df_PFI_2007_2010
#df_PFI_2010_2013
#df_PFI_2013_2016
#df_PFI_2016_2019
#df_PFI_2019_2023
frames = [df_PFI_2006_2007, 
          df_PFI_2007_2010,
          df_PFI_2010_2013,
          df_PFI_2013_2016,
          df_PFI_2016_2019,
          df_PFI_2019_2023
]

final_df = pd.concat(frames, ignore_index=True)
final_df.shape

(5999, 6)

In [21]:
#final combined data counts
final_df.count()

STATION    5999
NAME       5999
DATE       5999
PRCP       5599
TMAX       5966
TMIN       5963
dtype: int64

In [22]:
#final combined N/A counts
final_df.isna().sum()

STATION      0
NAME         0
DATE         0
PRCP       400
TMAX        33
TMIN        36
dtype: int64

In [23]:
#we are keeping precipitation for potential future use but the lack of collected data for 2019-2020 makes coherent analysis difficult
#exporting to csv
final_df.to_csv('./data/processed/PFI Weather Data.csv')

In [24]:
#importing back from csv
final_df = pd.read_csv('./data/processed/PFI Weather Data.csv', low_memory=False)

In [25]:
final_df.shape

(5999, 7)

In [26]:
final_df.head()

,Unnamed: 0,STATION,NAME,DATE,PRCP,TMAX,TMIN
0,0,USC00366886,"PHILADELPHIA FRANKLIN INSTITUTE, PA US",2006-01-01,0.00,45.0,35.0
1,1,USC00366886,"PHILADELPHIA FRANKLIN INSTITUTE, PA US",2006-01-02,1.63,46.0,35.0
2,2,USC00366886,"PHILADELPHIA FRANKLIN INSTITUTE, PA US",2006-01-03,0.07,46.0,39.0
3,3,USC00366886,"PHILADELPHIA FRANKLIN INSTITUTE, PA US",2006-01-04,0.02,46.0,37.0
4,4,USC00366886,"PHILADELPHIA FRANKLIN INSTITUTE, PA US",2006-01-05,0.00,51.0,37.0